body {
  font-family: Verdana, sans-serif;
  overflow:hidden;
}
label {
	margin-top: 5px;
	margin-left: 5px;
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	z-index:-5;
}
#player {
  position: absolute;
  left: 0px;
  top: 0px;
  float: left;
  border : 1px solid #444444;
  padding: 10px;
  margin: 10px;
  background: #3B3B3B;
}
#controls {
	position: absolute;
  left: 500px;
  top: 10px;
  float: left;
  border : 1px solid #444444;
  padding: 10px;
  margin: 10px;
  /*background: #3B3B3B;*/
}
.arrow {
    border : 0px;
    padding : 0px;
    margin : 0px;
}
.preset {
    width : 100px;
    height : 40px;
    padding : 5px;
    margin: 5px;
}
button {
    border : 0px;
    padding : 0px;
    margin : 0px;
}
button:hover {
    background-color:#dddddd;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.3;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 0.6;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 22px;
  height: 22px;
  background: #04AA6D;
  cursor: pointer;
}
